@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply font-mono text-normal-text;
  }
}
@layer components {
  /* Titles */
  .section-sub-title {
    @apply font-sans text-3xl text-title;
  }
  .section-title {
    @apply font-sans text-5xl text-title;
  }
  /* Plan: boxes */
  .plan-box {
    @apply flex max-w-[17rem] flex-col gap-2 px-10 text-center;
  }
  .footer-contact {
    @apply flex gap-2 text-base font-medium transition-all duration-300 hover:text-accent;
  }
  .footer-contact:hover img {
    @apply transition-all duration-300;
    filter: invert(57%) sepia(61%) saturate(6213%) hue-rotate(340deg)
      brightness(104%) contrast(110%);
  }
  .body-overflow:has(.hamburgerMenu input:checked) {
    overflow: hidden;
  }
  @media (max-width: 1100px) {
    .hamburgerMenu + ul {
      /* translate: 100%; */
      flex-direction: column;
      position: fixed;
      top: 0;
      min-height: 100vh;
      min-width: 100vw;
      background-color: #f8f8f8 !important;
      left: -100%;
      transition: translate 0.3s ease-in;
      gap: 2rem;
      background-color: var(--color-dark--2);
    }
    .hamburgerMenu:has(input:checked) + ul {
      translate: 100%;
    }
    .hamburgerMenu + ul a {
      font-size: 1.7rem;
    }
  }
  /* Hambuer Menu */
  .hamburgerMenu {
    /* variables */
    --bar-width: 50px;
    --bar-height: 7px;
    --hamburger-gap: 10px;
    --foreground-color: black;
    --background-color: transparent;
    --animation-timing: 0.3s;
    --transform-origin: right center;
    --hamburger-height: calc(var(--hamburger-gap) * 2 + var(--bar-height) * 3);
    --hamburger-width: var(--bar-width);
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
  }
  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    position: absolute;
    width: max-content;
    top: 16px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    background-color: var(--background-color);
  }

  .hamburgerMenu input,
  .hamburgerMenu::before,
  .hamburgerMenu::after {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground-color);
    border-radius: 9999px;

    transition:
      opacity var(--animation-timing),
      width var(--animation-timing),
      rotate var(--animation-timing),
      translate var(--animation-timing);
    transform-origin: var(--transform-origin);
  }
  .hamburgerMenu input {
    appearance: none;
    outline: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
  .hamburgerMenu input:checked {
    opacity: 0;
    width: 0;
  }
  .hamburgerMenu:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  .hamburgerMenu:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
  @media (min-width: 1100px) {
    .hamburgerMenu {
      display: none;
    }
  }
}

